<header>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="home-tab" data-toggle="tab" routerLink="/home-component" role="tab"
         aria-controls="home" aria-selected="true">Strona Główna</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="blog-tab" data-toggle="tab" routerLink="/blog" role="tab" aria-controls="profile"
         aria-selected="true">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="quiz-tab" data-toggle="tab" routerLink="/quiz" role="tab" aria-controls="home"
         aria-selected="true">Quiz</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" routerLink="/contact" role="tab"
         aria-controls="contact">Kontakt</a>
    </li>
  </ul>
</header>
