header{
    background: grey;
    color: black;
    font-family: 'Advent Pro', sans-serif;
}

section{
    background: silver;
    font-family: 'Advent Pro', sans-serif;
}

body{
    font-family: 'Advent Pro', sans-serif;
}

.contact-form{

    padding-right: 60%;
    padding-left: 10%;
    border-width: 5px;
    border-right-style:solid;
}
#step{
    width: 10%;
    height: 30px;
    background-color: grey;
    text-align: center;
    line-height: 30px;
    color: white;
}

.age{
    padding-right: 75%;
}
.button{
    padding-top: 30px;}

body {
        background-color: white;
    }

    .grid {
        width: 600px;
        height: 580px;
        margin: 0 auto;
        background-color: #fff;
        padding: 8px 48px 48px 48px;
        border-radius: 40px;
        border: 2px solid #cbcbcb;
        box-shadow: 10px 15px 5px #cbcbcb;
    }

    .grid h1 {
        font-family: "sans-serif";
        background-color: grey;
        font-size: 40px;
        text-align: center;
        color: white;
        padding: 2px 0px;
        border-radius: 50px;
    }

    #score {
        color: black;
        text-align: center;
        font-size: 30px;
    }

    .grid #question {
        font-family: "monospace";
        font-size: 25px;
        color: black;
    }

    .buttons {
        margin-top: 25px;
    }

    #btn0, #btn1, #btn2, #btn3 {
        background-color: grey;
        width: 250px;
        font-size: 20px;
        color: #eeeeee;
        border: 1px solid #1D3C6A;
        border-radius: 40px;
        margin: 8px 38px 8px 0px;
        padding: 8px 8px;
    }

    #btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
        cursor: pointer;
        background-color: silver;
    }

    #btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
        outline: 0;
    }

    #progress {
        color: black;
        font-size: 20px;}

